doctype html
html(lang="en")
    head
        link(rel="stylesheet" href="/css/material.min.css")
        script(src="/javascripts/material.min.js")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        script(src="//code.jquery.com/jquery-1.11.3.min.js")
        script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
        script(src="/index.js")

        title=Vendi
    body
        form(id="form-who", action='/who', method='post')
            div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
                input(name="name", class="mdl-textfield__input", type="text", id="who")
                label(class="mdl-textfield__label", for="sample2") Quem?...
                span(class="mdl-textfield__error") Input is not a number!

        table(class='mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp')
            thead
                tr
                    th(class='mdl-data-table__cell--non-numeric') Quem?
                    th Quantidade
                    th Preço unitário
            tbody
                tr
                    td(class='mdl-data-table__cell--non-numeric') #{name}
                    td 25
                    td R$ 2.90
