doctype html
html(lang="en")
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="/css/libs/mdl/material.min.css")
        link(rel="stylesheet" href="/css/main.css")
        script(src="/javascripts/libs/mdl/material.min.js")
        script(src="//code.jquery.com/jquery-1.11.3.min.js")
        script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
        script(src="/index.js")

        title=Vendi
    body
    div(class="mdl-layout mdl-js-layout")
        main(class="mdl-layout__content")
            div(class="mdl-grid")
                div(class="mdl-cell mdl-cell--3-col")
                div(class="mdl-cell mdl-cell--6-col")
                    form(id="form-who", action='/who', method='post')
                        div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label js-who-group full-width")
                            input(name="who", class="mdl-textfield__input", type="text", id="who")
                            label(class="mdl-textfield__label", for="who") Who?
                            span(class="mdl-textfield__error") Input is not a number!

                        div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label js-howMany-group full-width")
                            input(name="howMany", class="mdl-textfield__input", type="text", id="howMany")
                            label(class="mdl-textfield__label", for="howMany") How many?
                            span(class="mdl-textfield__error") Input is not a number!
                    
                        div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label js-howMuch-group full-width")
                            input(name="howMuch", class="mdl-textfield__input", pattern="-?[0-9]*(\.[0-9]+)?", type="text", id="howMuch")
                            label(class="mdl-textfield__label", for="howMuch") How much?
                            span(class="mdl-textfield__error") Input is not a number!
                        button(type="submit", class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent form-button__align-right") Add
                div(class="mdl-cell mdl-cell--3-col")

                div(class="mdl-cell mdl-cell--12-col")
                    table(class='mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp full-width')
                        thead
                            tr
                                th(class='mdl-data-table__cell--non-numeric') Name
                                th How many
                                th Amount
                        tbody
                            each item in balances
                                tr
                                    td(class='mdl-data-table__cell--non-numeric')= item.name
                                    td= item.howMany                                    
                                    td= item.amount                                    
